.idea/
dist/
build/
ace.egg-info/
*.pyc
*.DS_Store
.coverage
acegui/views/res/ace_video_placeholder.mp4
ACE.egg-info/
acegui/build/
acegui/dist
acegui/ace_gui.spec
notebooks/.ipynb_checkpoints/sequence_properties-checkpoint.ipynb
