.idea/
dist/
build/
__pycache__/
src/ace.egg-info/
data/
notebooks/*.pt
examples/*.csv
examples/*.xlsx
*.pyc
.coverage*
*.DS_Store
.pytest_cache/
**/.DS_Store
.coverage
acegui/views/res/ace_video_placeholder.mp4
ACE.egg-info/
notebooks/.ipynb_checkpoints/sequence_properties-checkpoint.ipynb
notebooks/ace_files/
notebooks/val_refs/
playground/

