<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACE</title>
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-icons-1.3.0/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="res/logo_ace_white_background.svg">
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/jquery-3.7.0.min.js"></script>
    <script src="js/jszip.js"></script>
    <script src="js/xlsx.full.min.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script src="js/read-excel-file.min.js"></script>
    <script src="common.js"></script>
    <script type="text/javascript" src="deconvolve.js"></script>
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
</head>
<body style="background-color: var(--body-background-color);" onload="onLoadBody()">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="var(--navbar-color);">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto">
            <a class="navbar-brand d-none d-md-block" href="index.html">
                <img src="res/logo_ace_square.svg" alt="">
            </a>
            <li class="nav-item">
                <a class="nav-link" href="generate.html">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="deconvolve.html">Deconvolve</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="faq.html">FAQ</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="alert-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alert-modal-title">Invalid Input</h5>
            </div>
            <div class="modal-body">
                <p id="alert-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-5 mt-10" id="div-input">
    <div class="row justify-content-center mt-5">
        <div class="col-7">
            <h1 class="text-center">Deconvolve Immunogenic Peptides</h1>
            <div class="container px-0 pt-0 pb-3 mt-5">
                <div class="row">
                    <div class="col-6">
                        <h2 class="m-0">Inputs</h2>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-outline-dark align-bottom mx-3" onclick="loadExample()">Load example</button>
                        <button class="btn-text align-bottom" onclick="reset()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="container border shadow-sm p-3 bg-white rounded">
                <h3>1. Configuration</h3>
                <div class="row">
                    <div class="col-8 d-flex align-items-center">
                        <p class="mb-0">Load the configuration file generated by ACE (.xlsx file)</p>
                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="This is the file that you used to perform your ELISpot experiment. Supply 'ace_elispot_configuration.xlsx'">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-text" style="float: right;" onclick="downloadExampleConfigFile()">Download example file</button>
                        <a id="download-example-config-file" href="res/25peptides_5perpool_3x_example_configuration.xlsx" download="25peptides_5perpool_3x_example_configuration.xlsx" style="display:none;"></a>
                    </div>
                </div>
                <div class="form-group mt-1">
                    <input type="file" class="form-control-file" id="configuration-file" onchange="loadConfigFile()" onclick="resetConfigFile()">
                </div>
                <div>
                    <div class="col-md-12 mt-3" style="width:100%;overflow:auto; max-height:16rem;">
                        <table class="table table-bordered table-hover mb-0" id="configuration-table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Peptide ID</th>
                                    <th class="text-center">Peptide Sequence</th>
                                    <th class="text-center">Plate ID</th>
                                    <th class="text-center">Well ID</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container border shadow-sm p-3 bg-white rounded mt-3">
                <h3>2. Spot Counts</h3>
                <div class="row">
                    <div class="col-8 d-flex align-items-center">
                        <p class="mb-0">Load a spot counts file. Supported file types:</p>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-text" style="float: right;" onclick="downloadExampleSpotCountsFile()">Download example file</button>
                        <a id="download-example-spotcounts-file" href="res/25peptides_5perpool_3x_example_spot_counts.xlsx" download="25peptides_5perpool_3x_example_spot_counts.xlsx" style="display:none;"></a>
                    </div>
                </div>
                <div class="container d-flex align-items-center">
                    <p class="mb-0">&#8226; Comma-separated values (.csv) file</p>
                    <button type="button" class="btn btn-outline-primary rounded-circle pl-1 py-0" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="The expected columns are (in the following order) 'plate_id', 'well_id', 'spot_count'.">
                        <i class="bi bi-question-circle"></i>
                    </button>
                </div>
                <div class="container d-flex align-items-center">
                    <p class="mb-0">&#8226; Excel (.xlsx) file</p>
                    <button type="button" class="btn btn-outline-primary rounded-circle pl-1 py-0" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="The expected columns are 'plate_id', 'well_id', 'spot_count'">
                        <i class="bi bi-question-circle"></i>
                    </button>
                </div>
                <div class="form-group mt-3">
                    <input type="file" class="form-control-file" id="spot-count-file" onchange="loadSpotCountsFile()" onclick="resetSpotCountsFile()">
                </div>
                <div class="row mt-3" id="div-chart" style="display: none;">
                    <div  class="col-md-12" style="width:100%; overflow:auto; max-height:50rem;">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <p class="mb-0" style="font-size: 1.2em; font-weight: bold;">Pool Spot Count Bar Plot</p>
                            </div>
                            <div class="col-md-6">
                                <button id="btn-input-sort-spot-counts-barplot" class="btn btn-outline-dark" style="float:right;" onclick="onClickInputSpotCountsBarPlotSort()">Sort</button>
                            </div>
                        </div>
                        <canvas id="chart"></canvas>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12" style="width:100%; overflow:auto; max-height:16rem;">
                        <table class="table table-bordered table-hover mb-0" id="spot-counts-table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Plate ID</th>
                                    <th class="text-center">Well ID</th>
                                    <th class="text-center">Spot Count</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container border shadow-sm p-3 bg-white rounded mt-3">
                <h3>3. Parameters</h3>
                <div class="row mt-3">
                    <div class="col-12 d-flex align-items-center">
                        <p class="mb-0">Minimum positive pool (well) spot count</p>
                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="Pools (wells) with this spot count or higher will be considered hit (positive) pools. We recommend that you first view your ELISpot spot counts as a bar plot (see above) to establish this threshold">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>
                <input class="w-50 form-control mt-1" type="number" id="input-min-spot-count" placeholder="e.g. 200" onkeyup="onChangeMinPositivePoolSpotCount()">
                <div class="row mt-3">
                    <div class="col-12 d-flex align-items-center">
                        <p class="mb-0">Minimum coverage for positive peptide</p>
                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="Only peptides that have a minimum of this many number of positive pools will be considered putative hits (i.e. immunogenic peptides). This value is automatically populated for you once you load the original ACE configuration file (.xlsx or .csv file); it is the coverage (i.e. number of peptide technical replicates) in the original ACE ELISpot configuration. Lowering this value could result in a higher sensitivity but will also identify more putative hit peptides">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>
                <input class="w-50 form-control mt-1" type="number" id="input-min-coverage" placeholder="e.g. 3" onkeyup="onChangeMinCoverage()">
                <div class="row mt-3">
                    <div class="col-12 d-flex align-items-center">
                        <p class="mb-0">Statistical deconvolution method</p>
                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="This is the method that will be used to perform the statistical deconvolution">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>
                <select class="w-50 form-select mt-1" name="deconvolution-mode" id="input-statistical-deconvolution-mode">
                    <option value="em">Expectation Maximization</option>
                    <option value="lasso">LASSO</option>
                </select>
            </div>
            <div class="container d-flex justify-content-end px-0 mx-0 mt-3">
                <button class="btn btn-primary px-5" onclick="deconvolve()">Deconvolve Peptides</button>
            </div>
            <div class="my-5" id="div-results" tabindex="1" style="display: none;">
                <div class="row">
                    <div class="col-12">
                        <h2 class="m-0">Results</h2>
                    </div>
                </div>
                <div class="container border shadow-sm p-3 bg-white rounded mt-3">
                    <h3>Hit Wells</h3>
                    <div class="col-md-12 mt-3" style="width:100%;overflow:auto; max-height:16rem;">
                        <table class="table table-bordered table-hover mb-0" id="positive-wells-table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Plate ID</th>
                                    <th class="text-center">Well ID</th>
                                    <th class="text-center">Spot Count</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container border shadow-sm p-3 bg-white rounded mt-3">
                    <h3>Hit Peptides</h3>
                    <div class="col-md-12 mt-3" style="width:100%;overflow:auto; max-height:16rem;">
                        <table class="table table-bordered table-hover mb-0" id="positive-peptides-table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Peptide ID</th>
                                    <th class="text-center">Peptide Sequence</th>
                                    <th class="text-center">*Hit Well IDs</th>
                                    <th class="text-center">Hit Well IDs Count</th>
                                    <th class="text-center">Estimated Peptide Spot Count</th>
                                    <th class="text-center">**Deconvolution Result</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <p class="p-0 m-0">*Hit well ID = [Plate ID]-[Well ID]</p>
                    <p class="p-0 m-0">**Peptides where the deconvolution result is "candidate hit" require an additional assay to establish immunogenicity</p>
                </div>
                <div class="container d-flex justify-content-end px-0 mx-0 mt-3">
                    <button class="btn btn-primary px-5" onclick="saveResultsFile()">Save Results</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid mb-5 mt-10" id="div-processing" style="display: none;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-7">
            <h1 class="text-center">Please wait while we deconvolve your ELISpot results</h1>
            <div class="dot-pulse mt-1"></div>
        </div>
    </div>
</div>
</body>
</html>