<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACE</title>
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="res/logo_ace_white_background.svg">
</head>

<body>
<video class="video" preload="true" autoplay loop muted>-->
    <source src="res/ace_intro.mp4" type="video/mp4">
</video>
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="w-100 row align-items-center">
        <img class="w-30 mx-auto" src="res/logo_ace_white_full.svg" alt="ACE Logo">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <button class="w-15 btn btn-primary btn-intro-1 p-3" onclick="location.replace('generate.html')">
                     <span class="well-icon">
                        <div class="well-icon-child-light">
                            <span></span>
                            <span></span>
                            <span></span><br/>
                            <span></span>
                            <span></span>
                            <span></span><br/>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </span>
                        Generate
                    </button>
                    <button class="w-15 btn btn-accent btn-intro-2 p-3" onclick="location.replace('deconvolve.html')">
                     <span class="well-icon">
                        <div class="well-icon-child-light">
                            <span></span>
                            <span></span>
                            <span></span><br/>
                            <span></span>
                            <span></span>
                            <span></span><br/>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </span>
                        Deconvolve
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 fixed-bottom text-center">
        <p class="text-white">version 0.1.1.0</p>
    </div>
</div>
</body>
</html>