<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="res/icon_ace_small.svg">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="loading.js"></script>
</head>

<body>

<div id="index-parent-div" class="container-center">
    <!--<img src="res/icon_ace_large.svg" alt="ACE Logo"
             style="width: 70%; display: block; margin-left: auto; margin-right: auto;">-->
    <h2 id="index-message">Please wait while we download the latest deep learning model files...</h2>
    <div class="dot-pulse"></div>
</div>

</body>
</html>