<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About ACE</title>
    <link href="style.css" rel="stylesheet">
    <link href="res/icon_ace_small.svg" rel="icon" type="image/x-icon">
    <script type="text/javascript" src="/eel.js"></script>

    <div class="navbar margin-bottom-none">
        <div class="navbar-child">
            <a href="landing.html"><img class="navbar-logo" src="res/icon_ace_large.svg"/></a>
            <nav>
                <ul style="float: right">
                    <li><a href="generate.html" alt="generate">Generate</a></li>
                    <li><a href="identify.html" alt="identify">Identify</a></li>
                    <li><a href="about.html" alt="about">About</a></li>
                    <li><a href=# alt="faq">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </div>

</head>

<body>

        <div class = "container-parent margin-top-none">
            <h2 class="text-center">The Story of ACE</h2>

            <div class="container-child-large margin-top-large">
              <p class="text-normal">
                A long time ago in a galaxy far far away....
              </p>
        </div>
        </div>

</body>

</html>
