<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>About ACE</title>
    <link href="style.css" rel="stylesheet">
    <link href="res/ace_logo_icon.svg" rel="icon" type="image/x-icon">
    <div class="navbar">
        <div class="navbar-child">
            <a href="landing.html"><img class="navbar-logo" src="res/ace_logo_icon.svg"/></a>
            <nav>
                <ul style="float: right">
                    <li><a href="generate.html" alt="generate">Generate</a></li>
                    <li><a href="identify.html" alt="identify">Identify</a></li>
                    <li><a href="about.html" alt="about">About</a></li>
                    <li><a href=# alt="faq">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </div>
  </head>

  <body>
    <div>
      <h1 class="text-center margin-top-med">The Story of ACE</h1>
    </div>
    <div class=#>
      <p>
        The story of ACE goes back to 
      </p>
    </div>
  </body>

</html>
