<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="res/icon_ace_small.svg">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="configuration.js"></script>

    <div class="navbar">
        <div class="navbar-child">
            <a href="landing.html"><img class="navbar-logo" src="res/icon_ace_large.svg"/></a>
            <nav>
                <ul style="float: right">
                    <li><a href="generate.html" alt="generate">Generate</a></li>
                    <li><a href="identify.html" alt="identify">Identify</a></li>
                    <li><a href="about.html" alt="about">About</a></li>
                    <li><a href="faq.html" alt="faq">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</head>

<body>
<div>
    <div class="container-parent">
        <div class="container-child-large">
            <div class="container-configuration">
                <div style="width: 50%;">
                    <h1 class="text-h1-vanilla">ELIspot Configuration</h1>
                </div>
                <div style="width: 50%; margin-top: auto; margin-bottom: auto;">
                    <button class="btn-export align-right">
                        <img src="res/icon_export.svg" style="margin-right: 0.2em; vertical-align: middle;"/>
                        <span style="vertical-align: middle">Export</span>
                    </button>
                </div>
            </div>
            <div class="container-row margin-top-large">
                <div class="container-column container-left">
                    <div class="container-search-parent">
                        <div class="container-search-bar">
                            <input id="searchbar" class="input-searchbar" autocomplete="off" onkeyup="searchPeptideSequence()" type="text"
                                   name="search" placeholder="Search peptide sequence..">
                           <button class="btn-search" style="width: 10%;">
                                <img src="res/icon_search.svg" style="width: 24px; vertical-align: middle;"/>
                            </button>
                        </div>
                        <div class="container-search-list">
                            <ol id='peptide-list' class="list-peptide-sequences">
                            </ol>
                        </div>
                    </div>
                    <div class="selected-pool-container margin-top-large">
                        <h2 id="selected-pool-id" class="text-no-margin">Selected Pool: None</h2>
                        <div id="container-selected-pool-features" class="container-selected-pool-inactive margin-top-small">
                            <p id="selected-pool-features">Select a pool to display pool features.</p>
                        </div>
                    </div>
                </div>
                <div class="container-column container-right">
                    <div class="plates">
                        <div id="panel-1" class="container-panel-active">
                            <button>Plate 1 (96)</button>
                            <p id="panel-1-pools-count" class="text-panel-pools-count-enabled">3 pools</p>
                        </div>
                        <div id="panel-2" class="container-panel-inactive margin-left-med">
                            <button style="">Plate 2 (96)</button>
                            <p id="panel-2-pools-count" class="text-panel-pools-count-disabled">3 pools</p>
                        </div>
                        <div id="panel-3" class="container-panel-inactive margin-left-med">
                            <button>Plate 3 (96)</button>
                            <p id="panel-3-pools-count" class="text-panel-pools-count-disabled">3 pools</p>
                        </div>
                        <div id="panel-4" class="container-panel-inactive margin-left-med">
                            <button>Plate 4 (96)</button>
                            <p id="panel-4-pools-count" class="text-panel-pools-count-disabled">3 pools</p>
                        </div>
                        <div id="panel-5" class="container-panel-inactive margin-left-med">
                            <button>Plate 5 (96)</button>
                            <p id="panel-5-pools-count" class="text-panel-pools-count-disabled">3 pools</p>
                        </div>
                    </div>
                    <div id="plate" class="container-plate-grid container-dropshadow margin-top-small">
                        <div class="container-plate-grid-item"></div>
                        <div class="container-plate-grid-item"><p>1</p></div>
                        <div class="container-plate-grid-item"><p>2</p></div>
                        <div class="container-plate-grid-item"><p>3</p></div>
                        <div class="container-plate-grid-item"><p>4</p></div>
                        <div class="container-plate-grid-item"><p>5</p></div>
                        <div class="container-plate-grid-item"><p>6</p></div>
                        <div class="container-plate-grid-item"><p>7</p></div>
                        <div class="container-plate-grid-item"><p>8</p></div>
                        <div class="container-plate-grid-item"><p>9</p></div>
                        <div class="container-plate-grid-item"><p>10</p></div>
                        <div class="container-plate-grid-item"><p>11</p></div>
                        <div class="container-plate-grid-item"><p>12</p></div>

                        <div class="container-plate-grid-item"><p>A</p></div>
                        <div class="container-plate-grid-item">
                            <button id="A1" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A2" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A3" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A4" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A5" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A6" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A7" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A8" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A9" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A10" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A11" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="A12" class="btn-plate-unassigned"></button>
                        </div>

                        <div class="container-plate-grid-item"><p>B</p></div>
                        <div class="container-plate-grid-item">
                            <button id="B1" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B2" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B3" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B4" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B5" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B6" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B7" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B8" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B9" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B10" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B11" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="B12" class="btn-plate-unassigned"></button>
                        </div>

                        <div class="container-plate-grid-item"><p>C</p></div>
                        <div class="container-plate-grid-item">
                            <button id="C1" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C2" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C3" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C4" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C5" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C6" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C7" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C8" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C9" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C10" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C11" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="C12" class="btn-plate-unassigned"></button>
                        </div>

                        <div class="container-plate-grid-item"><p>D</p></div>
                        <div class="container-plate-grid-item">
                            <button id="D1" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D2" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D3" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D4" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D5" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D6" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D7" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D8" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D9" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D10" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D11" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="D12" class="btn-plate-unassigned"></button>
                        </div>

                        <div class="container-plate-grid-item"><p>E</p></div>
                        <div class="container-plate-grid-item">
                            <button id="E1" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E2" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E3" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E4" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E5" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E6" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E7" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E8" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E9" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E10" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E11" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="E12" class="btn-plate-unassigned"></button>
                        </div>

                        <div class="container-plate-grid-item"><p>F</p></div>
                        <div class="container-plate-grid-item">
                            <button id="F1" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F2" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F3" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F4" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F5" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F6" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F7" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F8" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F9" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F10" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F11" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="F12" class="btn-plate-unassigned"></button>
                        </div>

                        <div class="container-plate-grid-item"><p>G</p></div>
                        <div class="container-plate-grid-item">
                            <button id="G1" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G2" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G3" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G4" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G5" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G6" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G7" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G8" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G9" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G10" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G11" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="G12" class="btn-plate-unassigned"></button>
                        </div>

                        <div class="container-plate-grid-item"><p>H</p></div>
                        <div class="container-plate-grid-item">
                            <button id="H1" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H2" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H3" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H4" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H5" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H6" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H7" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H8" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H9" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H10" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H11" class="btn-plate-unassigned"></button>
                        </div>
                        <div class="container-plate-grid-item">
                            <button id="H12" class="btn-plate-unassigned"></button>
                        </div>
                    </div>
                    <div class="container-legend margin-top-small">
                        <div style="width: 20%;">
                            <button class="btn-plate-unassigned disabled"><p
                                    style="white-space: nowrap; margin-left: 3.6em; font-size: 1.2em;">
                                Unassigned</p></button>
                        </div>
                        <div style="width: 20%;">
                            <button class="btn-plate-assigned disabled"><p
                                    style="white-space: nowrap; margin-left: 3.6em; font-size: 1.2em;">
                                Assigned</p></button>
                        </div>
                        <div style="width: 20%;">
                            <button class="btn-plate-peptide-pool disabled"><p
                                    style="white-space: nowrap; margin-left: 3.6em; font-size: 1.2em;">Peptide pool</p>
                            </button>
                        </div>
                        <div style="width: 20%;">
                            <button class="btn-plate-selected-pool disabled"><p
                                    style="white-space: nowrap; margin-left: 3.6em; font-size: 1.2em;">Selected pool</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-footer margin-top-large margin-bottom-med">
                <p style="text-align: center">Copyright (C) 2022 PIRL. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>