<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="res/ace_logo_icon.svg">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="configuration.js"></script>

    <div class="navbar">
        <div class="navbar-child">
            <a href="#"><img class="navbar-logo" src="res/ace_logo_icon.svg"/></a>
            <nav>
                <ul style="float: right">
                    <li><a href=# alt="generate">Generate</a></li>
                    <li><a href=# alt="identify">Identify</a></li>
                    <li><a href=# alt="about">About</a></li>
                    <li><a href=# alt="faq">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</head>

<body>
<div>
    <div class="parent">
        <div class="child-35percent">

        </div>
    </div>
</div>

</body>
</html>