<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="res/ace_logo_icon.svg">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="generate.js"></script>
</head>

<body>

<div class="parent">
    <div class="child">
        <h1 class="text-center">Generate an ELIspot Configuration</h1>
        <form>
            <table>
                <tr>
                    <h3 class="text-bold margin-bottom-small margin-top-large">Assay Parameters</h3>
                </tr>
                <tr>
                    <div class="container">
                        <h3 class="text-normal text-no-margin margin-bottom-small">Number of peptides</h3>
                        <input class="input-box" type="number" id="number-of-peptides" min="1" placeholder="e.g. 200">
                        <h3 class="text-normal text-no-margin margin-top margin-bottom-small">Number of peptides per
                            pool</h3>
                        <input class="input-box" type="number" id="number-of-peptides-per-pool" min="1" max="10"
                               placeholder="e.g. 10">
                        <h3 class="text-normal text-no-margin margin-top margin-bottom-small">Number of peptide repeats
                            (coverage)</h3>
                        <input class="input-box" type="number" id="number-of-coverage" min="1" max="3"
                               placeholder="e.g. 3">
                    </div>
                    <button class="btn-blue-text align-right margin-top-small" onclick="clearAssayParameters()">Clear
                    </button>
                </tr>
                <tr>
                    <h3 class="text-bold margin-bottom-small margin-top-large">Biological Parameters</h3>
                </tr>
                <tr>
                    <div class="container">
                        <h3 class="text-normal text-no-margin">Enforce sequence constraints</h3>
                        <button class="btn-blue-text align-left margin-top-small padding-left-zero margin-bottom"
                                style="display: inline-block;" onclick="getCSV()">
                            Click here to upload a CSV file
                        </button>
                    </div>
                </tr>
                <tr>
                    <h3 class="text-bold margin-bottom-small margin-top-large">Hardware Parameter</h3>
                </tr>
                <tr>
                    <div class="container">
                        <h3 class="text-normal text-no-margin margin-bottom-small">Number of cores</h3>
                        <input class="input-box" type="number" id="number-of-cores" min="1" value="1">
                    </div>
                </tr>
            </table>
            <input id="submit-button" type="button" class="submit blue-button margin-top-large margin-bottom-large"
                   value="GENERATE"
                   onclick="generateConfiguration()">
        </form>
    </div>
</div>

</body>
</html>