<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="res/icon_ace_small.svg">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="generate.js"></script>
    <script type="text/javascript" src="inputs.js"></script>

    <div class="navbar">
        <div class="navbar-child">
            <a href="landing.html"><img class="navbar-logo" src="res/icon_ace_large.svg"/></a>
            <nav>
                <ul style="float: right">
                    <li><a href="generate.html" alt="generate">Generate</a></li>
                    <li><a href="identify.html" alt="identify">Identify</a></li>
                    <li><a href="about.html" alt="about">About</a></li>
                    <li><a href="faq.html" alt="faq">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</head>

<body>
<div>
    <div class="container-parent">
        <div id="container-parameters" class="container-child-small">
            <h1 class="text-center margin-top-med">Generate an ELIspot Configuration</h1>
            <div class="container-dropshadow margin-top-med padding-top-med padding-right-med padding-bottom-med padding-left-med">

                <table>
                    <tr>
                        <h3 class="text-bold margin-top-none margin-bottom-small">Peptide Sequences</h3>
                    </tr>
                    <tr>
                        <div id="div-file-select">
                            <div class="container-file-select margin-top-small">
                                <p class="text-bold">Select a file from your computer.</p>
                                <p class="text-normal margin-top-med">Specify the peptide sequences CSV file.</p>
                                <button class="btn-select-file text-bold margin-top-med" onclick="getCSV()">Select file
                                </button>
                            </div>
                            <p class="text-no-selected-file">No selected file</p>
                        </div>
                        <div id="div-file-selected" class="container-file-selected" style="display: none;">
                            <img class="icon-file" src="res/icon_file.svg"/>
                            <p id="peptide-sequence-file-path" class="text-filepath"></p>
                            <span class="span-icon">
                                <img id="icon-clear-initial" class="icon-clear" src="res/icon_clear.svg"
                                     onclick="clearSelectedFilePath()"/>
                                <img id="icon-clear-hover" class="icon-clear-active" src="res/icon_clear_hover.svg"
                                     onclick="clearSelectedFilePath()"/>
                            </span>
                        </div>
                    </tr>
                    <tr>
                        <h3 class="text-bold margin-top-med margin-bottom-med">Parameters</h3>
                    </tr>
                    <tr>
                        <p class="margin-left-med">Peptides count</p>
                        <input class="input-box margin-left-med margin-top-small" type="number"
                               id="number-of-peptides" min="1" placeholder="e.g. 200" onkeydown="checkInputValidity()">
                    </tr>
                    <tr>
                        <p class="margin-left-med margin-top-med">Peptides per pool</p>
                        <input class="input-box margin-left-med margin-top-small" type="number"
                               id="number-of-peptides-per-pool" min="1" placeholder="e.g. 10"
                               onkeydown="checkInputValidity()">
                    </tr>
                    <tr>
                        <p class="margin-left-med margin-top-med">Peptides repeats</p>
                        <input class="input-box margin-left-med margin-top-small" type="number"
                               id="number-of-coverage" min="1" placeholder="e.g. 3" onkeydown="checkInputValidity()">
                    </tr>
                    <tr>
                        <p class="margin-left-med margin-top-med">Number of cores</p>
                        <input class="input-box margin-left-med margin-top-small" type="number"
                               id="number-of-cores" min="1" value="2" onkeydown="checkInputValidity()">
                    </tr>
                    <tr>
                        <div class="margin-left-med margin-top-med">
                            <label><input id="enforce-peptide-constraints" class="margin-right-med"
                                          type="checkbox"/>Enforce sequence constraints</label>
                        </div>
                    </tr>
                </table>
            </div>
            <div class="margin-top-large margin-bottom-large"
                 style="display: flex; align-items: center; justify-content: space-between;">
                <div>
                    <a class="btn-primary-text" style="float: left;" href="landing.html">Back
                    </a>
                </div>
                <div>
                    <button id="btn-generate" class="btn-primary-round-inactive" style="float: right;"
                            onclick="generateConfiguration()">
                        Generate
                    </button>
                </div>
            </div>
        </div>
        <div id="container-running" class="container-center" style="display: none;">
            <h2>Generating an optimized ELIspot configuration...</h2>
            <div class="dot-pulse"></div>
        </div>
    </div>
</div>

</body>
</html>