<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="res/ace_logo_icon.svg">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>

<div>
    <video class="intro-video" preload="true" autoplay loop muted>
        <source src="res/ace_video_placeholder.mp4" type="video/mp4">
    </video>
    <div class="intro-over-video">
        <img src="res/ace_logo.svg" alt="ACE Logo" style="width: 75%; display: block; margin-left: auto; margin-right: auto;">
        <button class="btn-white-round margin-top-large" onclick="location.replace('generate.html')">
            <div class="well">
                <div class="well-child">
                    <span></span>
                    <span></span>
                    <span></span><br/>
                    <span></span>
                    <span></span>
                    <span></span><br/>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            Generate
        </button>
    </div>

</div>


</body>
</html>