<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="res/icon_ace_small.svg">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>

<div id="index-parent-div">
    <h1 style="text-align: center">Initializing ACE by downloading<br/>latest deep learning model data...</h1>
    <p style="text-align: center">This can take up to 3 minutes depending on your internet connection.</p>
    <div id="index-dot-pulse" class="margin-top-large"></div>
</div>

</body>
</html>