<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="res/ace_logo_icon.svg">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>

<div id="index-parent-div">
    <h2 id="index-message">Please wait while we download necessary deep learning model files...</h2>
    <div id="index-dot-pulse"></div>
</div>

</body>
</html>