<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACE</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="res/ace_logo_icon.svg">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>

<div>
    <video class="video" preload="true" autoplay loop muted>
        <source src="res/ace_video_placeholder.mp4" type="video/mp4">
    </video>
    <div class="video-overlay">
        <img src="res/ace_logo.svg" alt="ACE Logo"
             style="width: 75%; display: block; margin-left: auto; margin-right: auto;">
        <button class="btn-accent margin-top-large margin-right-small" onclick="location.replace('generate.html')">
            <div class="well-icon">
                <div class="well-icon-child">
                    <span></span>
                    <span></span>
                    <span></span><br/>
                    <span></span>
                    <span></span>
                    <span></span><br/>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            Generate
        </button>

        <button class="btn-white margin-top-large margin-left-small" onclick="location.replace('identify.html')">
            <div class="well-icon">
                <div class="well-icon-child">
                    <span></span>
                    <span></span>
                    <span></span><br/>
                    <span></span>
                    <span></span>
                    <span></span><br/>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            Identify
        </button>
    </div>

</div>


</body>
</html>