/*
    Common styles
 */
:root {
    --primary5: #154F77;
    --primary4: #2484C7;
    --primary3: #A0CAE7;
    --primary2: #E9F2F9;
    --primary1: #F5F9FC;
    --accent2: #D85056;
    --accent1: #e38488;
    --grey4: #323233;
    --grey3: #ABABAB;
    --grey2: #D9D9D9;
    --grey1: #FAFAFA;
    --space_small: 0.4em;
    --space_med: 1.0em;
    --space_large: 2.0em;
    --round_border_size: 0.2em;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0em;
    margin: 0em;
}

p {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-center {
    text-align: center;
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-italicize {
    font-style: italic;
}

.text-no-margin {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.text-grey3 {
    color: var(--grey3);
}

.text-white {
    color: white;
}

.text-spots-threshold {
    display: inline-block;
    margin-top: auto;
    margin-left: var(--space_med);
    margin-bottom: auto;
    vertical-align: middle;
    font-size: 1.4em;
}

.text-no-selected-file {
    width: 100%;
    font-size: 0.8em;
    text-align: right;
    color: black;
    vertical-align: middle;
    word-wrap: break-word;
}

.text-filepath {
    width: 85%;
    font-size: 0.8em;
    text-align: right;
    color: black;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: var(--space_med);
    padding-right: var(--space_med);
    word-wrap: break-word;
}

.text-hit-peptide-list-item {
    color: var(--accent2);
}

.text-peptide-sequence-list-item:hover {
    color: var(--primary4);
    text-decoration: underline;
}

.text-peptide-sequence-list-item-selected {
    color: var(--accent2);
    font-weight: bold;
}

.text-panel-pools-count-enabled {
    opacity: 100;
}

.text-panel-pools-count-disabled {
    opacity: 0;
}

.btn-accent {
    box-sizing: border-box;
    width: 9em;
     background-color: var(--accent2);
    color: white;
    padding-top: var(--space_med);
    padding-bottom: var(--space_med);
    padding-left: var(--space_med);
    padding-right: var(--space_med);
    border: 0px solid white;
    border-radius: var(--round_border_size);
    font-size: 1.2em;
}

.text-h1-vanilla {
    margin: 0;
    padding: 0em;
    text-decoration: none;
    margin-block: 0em;
    line-height: 100%;
}

.btn-accent:hover {
    /* background-color: var(--accent1); */
    background-color: #323233;
    transition: 0.4s;
}

.btn-white {
    box-sizing: border-box;
    background-color: white;
    width: 9em;
    color: black;
    padding-top: var(--space_med);
    padding-bottom: var(--space_med);
    padding-left: var(--space_med);
    padding-right: var(--space_med);
    border: 0px solid white;
    border-radius: var(--round_border_size);
    font-size: 1.2em;
}

.btn-black {
    box-sizing: border-box;
    background-color: black;
    width: 9em;
    color: white;
    padding-top: var(--space_med);
    padding-bottom: var(--space_med);
    padding-left: var(--space_med);
    padding-right: var(--space_med);
    border: 0px solid white;
    border-radius: var(--round_border_size);
    font-size: 1.2em;
}

.btn-white:hover {
    background-color: var(--grey2);
    transition: 0.4s;
}

.btn-select-file {
    box-sizing: border-box;
    background-color: white;
    color: black;
    padding-left: var(--space_large);
    padding-right: var(--space_large);
    padding-top: var(--space_small);
    padding-bottom: var(--space_small);
    border: 1px solid black;
    border-radius: var(--space_large);
    font-size: 1.0em;
}

.btn-select-file:hover {
    background-color: var(--grey2);
}

.btn-primary {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--primary4);
    color: white;
    padding: var(--space_med);
    border: 1px solid black;
    border-radius: var(--round_border_size);
}

.btn-primary:hover {
    background-color: var(--primary5);
    transition: 0.4s;
}

.btn-primary-round-active {
    background-color: var(--primary4);
    color: white;
    padding-left: var(--space_large);
    padding-right: var(--space_large);
    padding-top: var(--space_small);
    padding-bottom: var(--space_small);
    border: 1px solid black;
    border-radius: var(--space_large);
    font-size: 1.2em;
}

.btn-primary-round-active:hover {
    background-color: var(--primary5);
    transition: 0.4s;
}

.btn-primary-round-inactive {
    background-color: var(--grey3);
    color: white;
    padding-left: var(--space_large);
    padding-right: var(--space_large);
    padding-top: var(--space_small);
    padding-bottom: var(--space_small);
    border: 1px solid black;
    border-radius: var(--space_large);
    font-size: 1.2em;
}

.btn-primary-text {
    background-color: transparent;
    border: none;
    color: var(--primary4);
    font-size: 1.2em;
}

.btn-primary-text:hover {
    text-decoration: underline;
}

.btn-plate-unassigned {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--grey1);
    border: 1px solid var(--grey2);
    border-radius: 1.6em;
    padding: 0;
    margin-top: var(--space_small);
    margin-bottom: var(--space_small);
    position: relative;
}

.btn-plate-assigned {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--primary2);
    border: 1px solid var(--grey2);
    border-radius: 1.6em;
    padding: 0;
    position: relative;
    margin-top: var(--space_small);
    margin-bottom: var(--space_small);
}

.btn-plate-assigned:hover {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--primary1);
    border: 1px solid var(--grey2);
    border-radius: 1.6em;
    padding: 0;
    position: relative;
}

.btn-plate-peptide-pool {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--accent2);
    border: 4px solid var(--primary2);
    border-radius: 1.6em;
    padding: 0;
    position: relative;
    margin-top: var(--space_small);
    margin-bottom: var(--space_small);
}

.btn-plate-peptide-pool:hover {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--accent1);
    border: 4px solid var(--primary2);
    border-radius: 1.6em;
    padding: 0;
    position: relative;
}

.btn-plate-selected-pool {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--primary2);
    border: 4px solid var(--primary4);
    border-radius: 1.6em;
    padding: 0;
    margin-top: var(--space_small);
    margin-bottom: var(--space_small);
    position: relative;
}

.btn-plate-selected-pool:hover {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--primary1);
    border: 4px solid var(--primary4);
    border-radius: 1.6em;
    padding: 0;
    position: relative;
}

.btn-plate-selected-peptide-pool {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--accent2);
    border: 4px solid var(--primary4);
    border-radius: 1.6em;
    padding: 0;
    margin-top: var(--space_small);
    margin-bottom: var(--space_small);
    position: relative;
}

.btn-plate-selected-peptide-pool:hover {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--accent1);
    border: 4px solid var(--primary4);
    border-radius: 1.6em;
    padding: 0;
    position: relative;
}

.btn-plate-hit-pool {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--accent2);
    border: 1px solid var(--accent2);
    border-radius: 1.6em;
    padding: 0;
    position: relative;
    margin-top: var(--space_small);
    margin-bottom: var(--space_small);
}

.btn-plate-hit-pool:hover {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--accent1);
    border: 1px solid var(--accent1);
    border-radius: 1.6em;
    padding: 0;
    position: relative;
}

.btn-export {
    background-color: var(--primary4);
    color: white;
    padding-left: var(--space_large);
    padding-right: var(--space_large);
    padding-top: var(--space_small);
    padding-bottom: var(--space_small);
    border: 1px solid black;
    border-radius: var(--space_large);
    font-size: 1.2em;
}

.btn-export:hover {
    background-color: var(--primary5);
    transition: 0.4s;
}

.btn-search {
    background-color: var(--primary4);
    padding: var(--space_small);
    border: 1px solid black;
    border-top-right-radius: var(--round_border_size) var(--round_border_size);
}

.btn-search:hover {
    background-color: var(--primary5);
    transition: 0.4s;
}

.disabled {
    pointer-events: none;
}

input {
    font-size: 1em;
}

.margin-top-none {
    margin-top: 0em;
}

.margin-top-small {
    margin-top: var(--space_small);
}

.margin-top-med {
    margin-top: var(--space_med);
}

.margin-top-large {
    margin-top: var(--space_large);
}

.margin-right-none {
    margin-right: 0em;
}

.margin-right-small {
    margin-right: var(--space_small);
}

.margin-right-med {
    margin-right: var(--space_med);
}

.margin-right-large {
    margin-right: var(--space_large);
}

.margin-bottom-none {
    margin-bottom: 0em;
}

.margin-bottom-small {
    margin-bottom: var(--space_small);
}

.margin-bottom-med {
    margin-bottom: var(--space_med);
}

.margin-bottom-large {
    margin-bottom: var(--space_large);
}

.margin-left-none {
    margin-left: 0em;
}

.margin-left-small {
    margin-left: var(--space_small);
}

.margin-left-med {
    margin-left: var(--space_med);
}

.margin-left-large {
    margin-left: var(--space_large);
}

.padding-top-none {
    padding-top: 0em;
}

.padding-top-small {
    padding-top: var(--space_small);
}

.padding-top-med {
    padding-top: var(--space_med);
}

.padding-top-large {
    padding-top: var(--space_large);
}

.padding-right-none {
    padding-right: 0em;
}

.padding-right-small {
    padding-right: var(--space_small);
}

.padding-right-med {
    padding-right: var(--space_med);
}

.padding-right-large {
    padding-right: var(--space_large);
}

.padding-bottom-none {
    padding-bottom: 0em;
}

.padding-bottom-small {
    padding-bottom: var(--space_small);
}

.padding-bottom-med {
    padding-bottom: var(--space_med);
}

.padding-bottom-large {
    padding-bottom: var(--space_large);
}

.padding-left-none {
    padding-left: 0em;
}

.padding-left-small {
    padding-left: var(--space_small);
}

.padding-left-med {
    padding-left: var(--space_med);
}

.padding-left-large {
    padding-left: var(--space_large);
}

.padding-small {
    padding-top: var(--space_small);
    padding-right: var(--space_small);
    padding-bottom: var(--space_small);
    padding-left: var(--space_small);
}

.padding-med {
    padding-top: var(--space_med);
    padding-right: var(--space_med);
    padding-bottom: var(--space_med);
    padding-left: var(--space_med);
}

.padding-large {
    padding-top: var(--space_large);
    padding-right: var(--space_large);
    padding-bottom: var(--space_large);
    padding-left: var(--space_large);
}

.align-right {
    float: right;
}

.align-left {
    float: left;
}

.align-vertical-middle {
    vertical-align: middle;
}

.navbar {
    background-color: var(--grey4);
    align-items: center;
    width: 100%;
    position: fixed;
    height: 48px;
}

.navbar-child {
    width: 90%;
    margin: auto;
    vertical-align: center;
}

.navbar-logo {
    height: 48px;
    margin: 0 auto;
    float: left;
    vertical-align: middle;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.navbar ul a {
    float: right;
    color: var(--grey2);
    padding: var(--space_med);
    text-decoration: none;
}

.navbar ul a:hover {
    color: white;
}

.navbar li {
    float: right;
}

.container-parent {
    background-color: white;
    margin-top: 48px;
    position: fixed;
    overflow-y: scroll;
    top: 0%;
    bottom: 0%;
    width: 100%;
}

.container-child-large {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-child-small {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.container-footer {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.container-column {
    float: left;
    padding: 0;
}

.container-row {
    display: flex;
    box-sizing: border-box;
}

.container-row:after {
    content: "";
    display: table;
    clear: both;
}

.container-left {
    width: 35%;
    margin-left: 0;
    margin-right: 0;
}

.container-right {
    width: 70%;
    margin-left: 0;
    margin-right: 0;
    padding-left: var(--space_med);
}

.container-dropshadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1.95px 1.95px 2.6px;
    background: white;
    border-radius: var(--round_border_size);
}

.container-file-select {
    background-color: var(--grey1);
    padding: var(--space_med);
    border: 1px dotted var(--grey3);
    border-radius: var(--round_border_size);
}

.container-file-selected {
    display: flex;
    width: 100%;
    padding: 0em;
    box-sizing: border-box;
    position: relative;
}

.container-search-parent {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.container-search-bar {
    display: flex;
    width: 100%;
}

.container-search-list {
    display: flex;
    overflow-y: scroll;
    padding: var(--space_med);
    border: 1px solid var(--grey3);
    border-bottom-left-radius: var(--round_border_size) var(--round_border_size);
    border-bottom-right-radius: var(--round_border_size) var(--round_border_size);
}

.container-slider-parent {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.container-panel-active {
    display: inline-block;
    background-color: var(--primary1);
    padding: var(--space_small);
    border-radius: var(--round_border_size);
}

.container-panel-active button {
    background-color: transparent;
    border: none;
    color: var(--primary4);
    font-size: 1.0em;
    font-weight: bold;
}

.container-panel-active button:hover {
    text-decoration: underline;
}

.container-panel-active p {
    color: var(--accent2);
    font-size: 0.8em;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-panel-inactive {
    display: inline-block;
    background-color: white;
    padding: var(--space_small);
    border-radius: var(--round_border_size);
}

.container-panel-inactive button {
    background-color: transparent;
    border: none;
    color: var(--grey3);
    font-size: 1.0em;
}

.container-panel-inactive button:hover {
    color: var(--primary4);
}

.container-panel-inactive p {
    color: var(--accent2);
    font-size: 0.8em;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-plate-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: white;
    padding: var(--space_small);
    justify-items: center;
    align-items: center;
    aspect-ratio: 2.0;
}

.container-plate-grid-item {
    background-color: white;
    text-align: center;
}

.container-plate-grid-item p {
    font-weight: bold;
    font-size: 1.0em;
}

.container-legend {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container-configuration {
    display: flex;
    margin-top: var(--space_large);
    vertical-align: middle;
    align-items: center;
}

.container-selected-pool-active {
    background-color: var(--primary1);
    border: 4px solid var(--primary4);
    color: black;
    padding: var(--space_med);
    border-radius: var(--round_border_size);
}

.container-selected-pool-inactive {
    background-color: var(--grey1);
    border: 1px solid var(--grey3);
    color: var(--grey3);
    padding: var(--space_med);
    border-radius: var(--round_border_size);
}

.container-hit-peptides {
    background-color: white;
    border: 1px solid var(--grey3);
    border-radius: var(--round_border_size);
    color: black;
    overflow-y: scroll;
    padding: var(--space_med);
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slider-spots-threshold {
    width: 75%;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.input-box {
    background-color: var(--grey1);
    box-sizing: border-box;
    width: 50%;
    border: 0px solid black;
    border-radius: var(--round_border_size);
    padding-top: var(--space_med);
    padding-bottom: var(--space_med);
    padding-left: var(--space_med);
    padding-right: var(--space_med);
    font-size: 1em;
}

.input-text-area {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    border-radius: 0.2em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    resize: none;
    overflow: hidden;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.input-searchbar {
    display: inline-block;
    width: 90%;
    padding: var(--space_med);
    margin: 0 auto;
    border-top-left-radius: var(--round_border_size) var(--round_border_size);
    border: 1px solid var(--grey3);
}

input[type=checkbox] {
    width: 24px;
    height: 24px;
    border-radius: var(--round_border_size);
    accent-color: black;
    text-decoration: none;
    vertical-align: middle;
}

input:focus {
    outline: none !important;
    border: 2px solid var(--primary4);
}

.list-peptide-sequences {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
    line-height: 250%;
    font-size: 0.8em;
    height: 240px;
}

.list-hit-peptide-sequences {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
    line-height: 250%;
    font-size: 0.8em;
    height: 380px;
}

.video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.well-icon {
    float: right;
    margin-right: 0.4em;
    vertical-align: middle;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 0em;
}

.well-icon-child {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0em;
    margin-bottom: 2px;
}

.well-icon-child span {
    width: 6px;
    height: 6px;
    margin-top: 2px;
    margin-bottom: 0em;
    margin-right: 2px;
    margin-left: 0px;
    vertical-align: middle;
    background-color: dodgerblue;
    letter-spacing: 0px;
    padding: 0em;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.well-icon-child span:nth-child(1) {
    background-color: #84A6CB;
    animation-delay: 0.1s;
    margin-top: 0px;
}

.well-icon-child span:nth-child(2) {
    background-color: #F36A80;
    animation-delay: 0.1s;
    margin-top: 0px;
}

.well-icon-child span:nth-child(3) {
    background-color: #F8E16C;
    animation-delay: 0.3s;
    margin-top: 0px;
}

.well-icon-child span:nth-child(4) {
    background-color: #18A6FC;
    animation-delay: 0.2s;
}

.well-icon-child span:nth-child(5) {
    background-color: #A80C04;
    animation-delay: 0.5s;
}

.well-icon-child span:nth-child(6) {
    background-color: #02B6B5;
    animation-delay: 0.8s;
}

.well-icon-child span:nth-child(7) {
    background-color: #C151ED;
    animation-delay: 0.13s;
}

.well-icon-child span:nth-last-child(2) {
    background-color: #FF8B57;
    animation-delay: 0.21s;
}

.well-icon-child span:last-child {
    background-color: #FE1BBB;
    animation-delay: 0.34s;
}

.well-icon-child-light {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0em;
    margin-bottom: 2px;
}

.well-icon-child-light span {
    width: 6px;
    height: 6px;
    margin-top: 2px;
    margin-bottom: 0em;
    margin-right: 2px;
    margin-left: 0px;
    vertical-align: middle;
    background-color: #F9F871;
    letter-spacing: 0px;
    padding: 0em;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.well-icon-child-light span:nth-child(1) {
    background-color: #FFC75F;
    animation-delay: 0.1s;
    margin-top: 0px;
}

.well-icon-child-light span:nth-child(2) {
    background-color: #FBEAFF;
    animation-delay: 0.1s;
    margin-top: 0px;
}

.well-icon-child-light span:nth-child(3) {
    background-color: #C4FCEF;
    animation-delay: 0.3s;
    margin-top: 0px;
}

.well-icon-child-light span:nth-child(4) {
    background-color: #FEFEDF;
    animation-delay: 0.2s;
}

.well-icon-child-light span:nth-child(5) {
    background-color: #D5ECF5;
    animation-delay: 0.5s;
}

.well-icon-child-light span:nth-child(6) {
    background-color: #4FFBDF;
    animation-delay: 0.8s;
}

.well-icon-child-light span:nth-child(7) {
    background-color: #FCF8FF;
    animation-delay: 0.13s;
}

.well-icon-child-light span:nth-last-child(2) {
    background-color: #FEFEDF;
    animation-delay: 0.21s;
}

.well-icon-child-light span:last-child {
    background-color: #4FFBDF;
    animation-delay: 0.34s;
}

@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.7) translateY(1px);
    }
}

.icon-file {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.icon-clear {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.icon-clear-active {
    display: none;
    height: 24px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.span-icon:hover img[class="icon-clear"] {
    display: none;
}

.span-icon:hover img[class="icon-clear-active"] {
    display: inline-block;
}

/*
    Page-specific styles
*/

#intro-h1 {
    font-size: 2.0em;
    margin-bottom: 0em;
}

#intro-p {
    font-size: 1.4em;
    margin-top: 0.4em;
}

.container-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 12px;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-color: #2484C7;
    color: #2484C7;
    box-shadow: 9999px 0 0 -6px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
}

.dot-pulse::before, .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #2484C7;
    color: #2484C7;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -5px;
    }
    30% {
        box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 9984px 0 0 -5px;
    }
}

@keyframes dot-pulse {
    0% {
        box-shadow: 9999px 0 0 -5px;
    }
    30% {
        box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 9999px 0 0 -5px;
    }
}

@keyframes dot-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -5px;
    }
    30% {
        box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 10014px 0 0 -5px;
    }
}


