body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

/* texts */

.text-center {
    text-align: center;
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-no-margin {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.text-light-grey {
    color: lightgrey;
}

/* buttons */

.blue-button {
    box-sizing: border-box;
    width: 100%;
    background-color: #0071E3;
    color: white;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0.2em;
}

.blue-button:hover {
    background-color: #328de8;
    transition: 0.7s;
}

.text-blue-button {
    background-color: transparent;
    border: none;
    color: #0071E3;
    font-size: 1em;
}

.text-blue-button:hover {
    text-decoration:underline;
}

/* inputs */
input {
    font-size: 1em;
}

/* margins */

.margin-top {
    margin-top: 1.2em;
}

.margin-top-large {
    margin-top: 2.0em;
}

.margin-bottom {
    margin-bottom: 1.2em;
}

.margin-bottom-small {
    margin-bottom: 0.2em;
}

.margin-bottom-large {
    margin-bottom: 2.0em;
}

.margin-top-small {
    margin-top: 0.2em;
}

.margin-left-zero {
    margin-left: 0em;
}

.margin-right-zero {
    margin-right: 0em;
}

.margin-bottom-zero {
    margin-bottom: 0em;
}

/* padding */

.padding-left-zero {
    padding-left: 0em;
}

.padding-right-zero {
    padding-right: 0em;
}

/* alignments */

.align-right {
    float: right;
}

.align-left {
    float: left;
}

.parent {
    background-color: white;
    padding: 1em;
    position: fixed;
    overflow-y: scroll;
    top: 0%;
    bottom: 0%;
    width: 100%;
}

.child {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    padding: 1.2em;
    border: 1px solid black;
    border-radius: 0.2em;
}

.input-box {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    border-radius: 0.2em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    font-size: 1em;
}

.input-text-area {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    border-radius: 0.2em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    resize: none;
    overflow: hidden;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
