<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACE</title>
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap.css">
    <link rel="stylesheet" href="../lib/bootstrap-icons-1.3.0/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="../res/logo_ace_white_background.svg">
    <script src="../lib/bootstrap.bundle.js"></script>
    <script src="../lib/jquery-3.7.0.min.js"></script>
    <script src="../lib/jszip.js"></script>
    <script src="../lib/xlsx.full.min.js"></script>
    <script src="../lib/read-excel-file.min.js"></script>
    <script src="../js/common.js"></script>
    <script type="text/javascript" src="../js/generate.js"></script>
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
</head>

<body style="background-color: var(--body-background-color);">
<nav class="navbar navbar-expand-lg bg-light fixed-top" style="var(--navbar-color);">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto">
            <a class="navbar-brand d-none d-md-block" href="index.html">
                <img src="../res/logo_ace_square.svg" alt="">
            </a>
            <li class="nav-item">
                <a class="nav-link" href="generate.html">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="deconvolve.html">Deconvolve</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="faq.html">FAQ</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="alert-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alert-modal-title">Invalid Input</h5>
            </div>
            <div class="modal-body">
                <p id="alert-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-5 mt-10" id="generate-input">
    <div class="row justify-content-center mt-5">
        <div class="col-md-7">
            <h1 class="text-center">Generate an ELISpot Configuration</h1>
            <div class="container px-0 pt-0 pb-3 mt-5">
                <div class="row">
                    <div class="col-6">
                        <h2 class="m-0">Inputs</h2>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-outline-dark align-bottom mx-3" onclick="loadExample()">Load example</button>
                        <button class="btn-text align-bottom" onclick="reset()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="container border shadow-sm p-3 bg-white rounded">
                <h3>1. Peptides</h3>
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <p class="p-0 m-0">Specify either the peptide sequences <b>OR</b> the count</p>
                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="If you specify the peptide sequences, you do not need to specify the peptide count. Conversely, if you specify the count, the peptide sequences will be ignored.">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="accordion" id="accordion-parent">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button id="accordion-1-btn" class="accordion-button" onclick="onClickSpecifySequences()" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Specify sequences
                          </button>
                        </h2>
                		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-parent">
                            <div class="accordion-body p-3">
                                <div class="container p-0">
                                    <div class="row">
                                        <div class="col-8 d-flex align-items-center">
                                            <p class="mb-0 mr-5" style="vertical-align: center;">Load peptide sequences from a .xlsx or .csv file</p>
                                            <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="Excel (.xlsx) or comma-separated values (.csv) file with 2 headers: 'peptide_id', 'peptide_sequence'">
                                                <i class="bi bi-question-circle"></i>
                                            </button>
                                        </div>
                                        <div class="col-4">
                                            <button class="btn btn-text" style="float: right;" onclick="downloadExampleFile()">Download example file</button>
                                            <a id="download-example-file" href="../res/25peptides_example.xlsx" download="25peptides_example.xlsx" style="display:none;"></a>
                                        </div>
                                    </div>
                                    <div class="form-group mt-1 mb-2">
                                        <input type="file" class="form-control-file" id="peptide-sequences-file" onchange="loadPeptidesFile()" onclick="resetPeptidesFile()">
                                    </div>
                                    <div class="row pb-0 mb-0">
                                        <div class="col-md-12" style="width:100%;overflow:auto; max-height:16rem;">
                                            <table class="table table-bordered table-hover mb-0" id="peptides-table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Peptide ID</th>
                                                        <th class="text-center">Peptide Sequence</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button id="accordion-2-btn" class="accordion-button collapsed" onclick="onClickSpecifyCount()" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Specify count only
                          </button>
                        </h2>
                		<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-parent">
                            <div class="accordion-body">
                                <p class="mb-0">Number of peptides</p>
                                <input class="w-50 form-control mt-1" type="number" id="num-peptides" min="1" placeholder="e.g. 200" oninput="onChangePeptideCount()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container border shadow-sm p-3 bg-white rounded mt-3">
                <h3>2. Parameters</h3>
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <p class="mb-0">Number of Peptides per Pool</p>
                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="This will be the number of peptides assigned to each pool (well)">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>
                <input class="w-50 form-control" type="number" id="num-peptides-per-pool" min="2" placeholder="e.g. 10" oninput="onChangePeptidesPerPool()">
                    <div class="row mt-3">
                        <div class="col-12 d-flex align-items-center">
                            <p class="mb-0">Number of Peptide Replicates (i.e. Coverage)</p>
                            <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="This is the number of technical replicates that you have for each peptide">
                                <i class="bi bi-question-circle"></i>
                            </button>
                        </div>
                    </div>
                </input>
                <input class="w-50 form-control" type="number" id="num-coverage" min="2" placeholder="e.g. 3" oninput="onChangeCoverage()">
                    <div class="row mt-3">
                        <div class="col-12 d-flex align-items-center">
                            <p class="mb-0">Assign Plate / Well IDs</p>
                            <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="Specify the plate size that you will use for your ELISpot experiment">
                                <i class="bi bi-question-circle"></i>
                            </button>
                        </div>
                    </div>
                </input>
                <select class="w-50 form-select" name="num-wells" id="num-wells" oninput="onChangePlateSize()">
                    <option value=24>24-well plate</option>
                    <option value=48>48-well plate</option>
                    <option value=96 selected>96-well plate</option>
                    <option value=384>384-well plate</option>
                    <option value="do_not_assign">Do not assign plate/well IDs</option>
                </select>
                <div class="row mt-3 mb-0 p-0">
                    <div class="col-5 d-flex align-items-center">
                        <p class="p-0 m-0">Total Number of Pools:</p>
                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="This is the total number of pools that your ELISpot configuration will have. This value is automatically calculated for you based on the number of peptides per pool and the number of peptide replicates">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <p class="p-0 m-0" id="num-total-pools">NaN</p>
                    </div>
                </div>
                <div class="row mt-1 mb-0 p-0">
                    <div class="col-5 d-flex align-items-center">
                        <p class="p-0 m-0">Total Number of Plates:</p>
                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="This is the total number of plates that your ELISpot configuration will need. This value is automatically calculated for you based on the total number of pools and the selected plate size">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <p class="p-0 m-0" id="num-total-plates">NaN</p>
                    </div>
                </div>
            </div>
            <div class="accordion border shadow-sm bg-white rounded mt-3" id="accordion-advanced-params">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingAdvancedParams">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdvancedParams" aria-expanded="true" aria-controls="collapseAdvancedParams">
                          <h3>3. Advanced Parameters</h3>
                      </button>
                    </h2>
                    <div id="collapseAdvancedParams" class="accordion-collapse collapse" aria-labelledby="headingAdvancedParams" data-bs-parent="#accordion-advanced-params">
                        <div class="accordion-body p-3">
                            <div class="container p-0">
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center">
                                        <p class="mb-0">Cluster Peptides</p>
                                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="If you specify 'yes', ACE will cluster similar peptides into the same pool">
                                            <i class="bi bi-question-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <select class="w-50 form-select" name="cluster-peptides" id="cluster-peptides">
                                    <option value="yes" selected>Yes</option>
                                    <option value="no">No</option>
                                </select>
                                <div class="row mt-3">
                                    <div class="col-12 d-flex align-items-center">
                                        <p class="mb-0">Sequence Similarity Function</p>
                                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="The sequence similarity function to use to cluster peptides">
                                            <i class="bi bi-question-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <select class="w-50 form-select" name="sequence-similarity-function" id="sequence-similarity-fxn">
                                    <option value="euclidean" selected>Euclidean</option>
                                    <option value="cosine">Cosine</option>
                                </select>
                                <div class="row mt-3">
                                    <div class="col-12 d-flex align-items-center">
                                        <p class="mb-0">Sequence Similarity Threshold</p>
                                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="Peptide sequence pairs that have a sequence similarity score higher than this threshold will be paired together in the same pool">
                                            <i class="bi bi-question-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <input type="range" class="form-range range-cust" min="0" max="1" step="0.05" id="sequence-similarity-threshold"
                                               value="0.7" onchange="updateThresholdLabel(value)">
                                    </div>
                                    <div class="col-7">
                                        <label for="sequence-similarity-threshold" id="threshold-label">0.7</label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 d-flex align-items-center">
                                        <p class="mb-0">Maximum Number of Iterations</p>
                                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="Maximum number of iterations to minimize the number of violations (i.e. co-occurrence of peptide pairs across replicates)">
                                            <i class="bi bi-question-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <input class="w-50 form-control mt-1" type="number" id="num-iterations" value="2000">
                                <div class="row mt-3">
                                    <div class="col-12 d-flex align-items-center">
                                        <p class="mb-0">Initialization Strategy</p>
                                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="This strategy determines how the first-coverage peptide-pool assignments are determined. 'Greedy' ensures that similar peptide pairs are pooled together. 'Random' randomly assigns peptides to pools. 'Repeated' generates a repeated block design.">
                                            <i class="bi bi-question-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <select class="w-50 form-select" name="strategy" id="strategy">
                                    <option value="greedy" selected>Greedy</option>
                                    <option value="random">Random</option>
                                    <option value="repeat">Repeat</option>
                                </select>
                                <div class="row mt-3">
                                    <div class="col-12 d-flex align-items-center">
                                        <p class="mb-0">Allow Extra Pools</p>
                                        <button type="button" class="btn btn-outline-primary rounded-circle" style="border: none;" data-bs-trigger="focus" data-toggle="popover" title="If you select 'yes', then ACE will allow extra pools to minimize the number of violations (i.e. co-occurrence of peptide pairs across replicates). If you select 'no', then ACE will generate an ELISpot configuration with the minimum number of pools for the first-round assay">
                                            <i class="bi bi-question-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                    <select class="w-50 form-select" name="allow-extra-pools" id="allow-extra-pools">
                                        <option value="no" selected>No</option>
                                        <option value="yes">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="container d-flex justify-content-end px-0 mx-0 mt-3 mb-5">
                <button class="btn btn-primary px-5" onclick="generate()">Generate Configuration</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5 mt-10" id="generate-processing" style="display: none;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h1 class="text-center">Please wait while ACE generates<br/>your ELISpot configuration</h1>
            <h3 class="text-center"><i>(This could take a while...)</i></h3>
            <div class="dot-pulse mt-5"></div>
            <h3 class="mt-5">Input Parameters</h3>
            <div class="container border shadow-sm p-3 bg-white rounded mt-1">
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Number of peptides</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-num-peptides">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Number of peptides per pool</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-num-peptides-per-pool">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Coverage (number of technical replicates)</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-num-coverage">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Assign plate/well IDs</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-plate-size">96 wells</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Cluster peptides?</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-cluster-peptides">yes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Sequence similarity function</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-sequence-similarity-fxn">Euclidean</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Sequence similarity threshold</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-sequence-similarity-threshold">0.8</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Maximum number of iterations</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-max-iters">2000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Initialization strategy</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-init-strategy">greedy</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Allow extra pools</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-allow-extra">no</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Total number of pools</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-num-total-pools">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0">Total number of plates</p>
                    </div>
                    <div class="col-6">
                        <p class="my-0" id="processing-num-total-plates">0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5 mt-10" id="generate-output" style="display: none;">
    <div class="row justify-content-center mt-5">
        <div class="col-7">
            <div class="container text-center">
                <h1 class="text-center">Your ELISpot Configuration</h1>
                <p class="text-center" style="font-size: 1.6em;">Please <b style="color: #ee2a7b">SAVE</b> the assignment file to <b style="color: #ee2a7b">deconvolve</b> immunogenic peptides later</p>
            </div>
            <div class="container px-0 pt-0 pb-3 mt-5">
                <div class="row">
                    <div class="col-6">
                        <h2 class="m-0">Results</h2>
                    </div>
                </div>
            </div>
            <div class="container border shadow-sm p-3 bg-white rounded">
                <h3 class="p-0 m-0">Assignment</h3>
                <div class="col-md-12 mt-3" style="width:100%;overflow:auto; max-height:20rem;">
                    <table class="table table-bordered table-hover mb-0" id="assignment-table">
                        <thead>
                            <tr>
                                <th class="text-center">Peptide ID</th>
                                <th class="text-center">Peptide Sequence</th>
                                <th class="text-center">Coverage ID</th>
                                <th class="text-center">Plate ID</th>
                                <th class="text-center">Well ID</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container border shadow-sm p-3 bg-white rounded mt-3">
                <h3 class="p-0 m-0">Preferred Peptide Pairs</h3>
                <div class="col-md-12 mt-3" style="width:100%;overflow:auto; max-height:20rem;">
                    <table class="table table-bordered table-hover mb-0" id="peptide-pairs-table">
                        <thead>
                            <tr>
                                <th class="text-center">Peptide ID 1</th>
                                <th class="text-center">Peptide Sequence 1</th>
                                <th class="text-center">Peptide ID 2</th>
                                <th class="text-center">Peptide Sequence 2</th>
                                <th class="text-center">*Similarity Score</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <p class="p-0 m-0">*Higher scores indicate higher similarities</p>
                </div>
            </div>
            <div class="container border shadow-sm p-3 bg-white rounded mt-3">
                <h3>Parameters</h3>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Number of peptides</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-num-peptides">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Number of peptides per pool</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-num-peptides-per-pool">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Coverage (number of technical replicates)</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-num-coverage">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Assign plate/well IDs</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-plate-size">96 wells</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Cluster peptides?</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-cluster-peptides">yes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Sequence similarity function</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-sequence-similarity-fxn">Euclidean</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Sequence similarity threshold</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-sequence-similarity-threshold">0.8</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Maximum number of iterations</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-max-iters">2000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Initialization strategy</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-init-strategy">greedy</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Allow extra pools?</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-allow-extra">no</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Total number of pools</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-num-total-pools">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="my-0">Total number of plates</p>
                    </div>
                    <div class="col-8">
                        <p class="my-0" id="output-num-total-plates">0</p>
                    </div>
                </div>
            </div>
            <div class="container d-flex justify-content-end px-0 mx-0 mt-3 mb-5">
                <button class="btn btn-primary px-5" onclick="saveConfigurationFile()">Save Configuration</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>